# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
pyrightconfig.json

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
migrations/

# Virtual Environment
venv/
.env

# IDEs
.vscode/
.idea/
